$theme-colors:(
	primary:		#ffd685,		//yellow
	secondary:		#119da4,		//light blue
	success: 		#69995d,	
	info:         	#19647e,		//darker blue
	warning:      	#F6AB65,
	danger:       	#D63230,        
	surface:		red,
	custom:			pink
);
$body-bg:		#200212;	//dark violet
$body-color: 	#19647e;
$color:			#ffd685;     //yellow;

@import "~bootstrap/scss/bootstrap";