@import url('https://fonts.googleapis.com/css2?family=Genos&display=swap');

$theme-colors:(
	primary:		#ffd685,		//yellow
	primaryVar:		#ffc247,
	secondary:		#119da4,		//light blue
	secondaryVar:	#19647e,
	success: 		#69995d,	
	info:         	#19647e,		//darker blue
	warning:      	#F6AB65,
	danger:       	#D63230,        
	surface:		#4b3f72,
	body:			#200212,
);

$body-bg:			#200212;	//dark violet
$body-color: 		#ffd685;	//light blu
$color:				#ffd685;     //yellow;

$font-family-sans-serif: "Genos", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$enable-responsive-font-sizes:true;
$font-size-base: 1rem;

@import "~bootstrap/scss/bootstrap";

.navbar-toggler:focus{
	box-shadow: none;
}

button:hover{
	transform: scale(1.1)
}

.myLink{
	color: #ffd685;
	border-width: 0;
}
.myLink:hover{
	color: #ffd685;
	transform: scale(1.2)	
}

input:focus{
	border-width: 1px!important;
	border-color: #19647e!important;
	box-shadow: none!important;
}
.myPswInput{
	border-right-width: 0;
}
.myPswInput:focus{
	border-right-width: 0!important;
}
input.myPswInput.form-control:focus + .myHSPswBtn{
	border-width: 1px!important;
	border-color: #19647e!important;
	border-left-width: 0!important;
}
.myHSPswBtn{
	border-left-width: 0;
}

.myErrBox{
	position: relative;
    animation: shake .1s linear;
    animation-iteration-count: 3;
	border: 3px solid #D63230 !important;
	border-radius: 0.3em!important;
}
@keyframes shake {
	0% { left: -5px; }
    100% { right: -5px; }
}

.fscaling-1{
	@include font-size(1rem)
}
.fscaling-2{
	@include font-size(2rem)
}
.fscaling-3{
	@include font-size(3rem)
}
.fscaling-4{
	@include font-size(4rem)
}
.fscaling-5{
	@include font-size(5rem)
}

/* Transitions */
.next-exit-active {
  animation: leaveToLeft 500ms both cubic-bezier(0.165, 0.84, 0.44, 1);
  z-index: 0;
}

.next-enter-active {
  animation: enterFromRight 500ms both cubic-bezier(0.165, 0.84, 0.44, 1);
  z-index: 1;
}

.prev-exit-active {
  animation: leaveToRight 500ms both cubic-bezier(0.165, 0.84, 0.44, 1);
  z-index: 1;
}

.prev-enter-active {
  animation: enterFromLeft 3000ms both cubic-bezier(0.165, 0.84, 0.44, 1);
  z-index: 0;
}

@keyframes leaveToLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-25%);
    filter: brightness(0.5);
  }
}

@keyframes enterFromLeft {
  from {
    transform: translateX(-25%);
    filter: brightness(0.5);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes leaveToRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes enterFromRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}