@import "../node_modules/bootstrap/scss/bootstrap";

$primary:		#ffd685;  
$primaryVar:	#ffc247;   
$secondary: 	#119da4;
$secondaryVar:	#19647e;
$success: 		#69995d;
$info:         	#19647e;
$warning:      	#F6AB65;
$danger:       	#D63230;        

$body-bg:		#200212;
$surface:		#4b3f72;